<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runner.server.dao.mapper.ProjectMapper">
    <select id="queryAll" resultType="com.runner.server.dao.entity.po.Project">
        select * from project
    </select>

    <select id="queryAllCount" resultType="int">
        select count(*) from project
    </select>



    <select id="queryExistByCode" resultType="int">
        select count(1) from project where project_code=#{projectCode}
    </select>




    <select id="queryCountByExample" resultType="int" >
        select count(id) from project
        <where>
            1=1
            <if test="project !=null ">
                <if test="project.projectCode !=null and project.projectCode !=''">
                    and project_code=#{project.projectCode}
                </if>
                <if test="project.projectName !=null and project.projectName !=''">
                    and project_name=#{project.projectName}
                </if>
            </if>
        </where>
    </select>


    <select id="queryPageData" resultType="com.runner.server.dao.entity.po.Project" >
        select * from project
         <where>
             1=1
             <if test="project !=null ">
                 <if test="project.projectCode !=null and project.projectCode !=''">
                    and project_code=#{project.projectCode}
                 </if>
                 <if test="project.projectName !=null and project.projectName !=''">
                     and project_name=#{project.projectName}
                 </if>
             </if>

         </where>
         order by id desc limit #{offset},#{size}
    </select>



</mapper>